.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .login-box {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 40%;
    left: 95%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .forgot-password {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .switch-text {
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  .switch-link {
    text-decoration: underline;
  }
  
  .terms-text {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  
  .terms-link {
    text-decoration: none;
  }
  